.table {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.head {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: blue;
}

#table-to-xls {
  display: none;
}
